body.light {
  --orange: #d44211;
  --bg-color: hsl(35deg 25% 95%);
  --bg-color-secondary: hsl(35deg 20% 98% / 50%);
  --bg-color-tertiary: hsl(0deg 0% 79.06%);
  --text-color: hsl(220deg 25% 8% / 80%);
  --text-color-secondary: hsla(217, 21%, 17%, 0.8);
  --link-color: hsl(220deg 25% 8% / 80%);
  --link-hover-color: var(--orange);
  --link-shadow: 0px 0px 8px white;
  --article-bg-primary: linear-gradient(to bottom right, rgba(29, 251, 255, 0.251) , rgba(255, 166, 0, 0.415));
  --article-bg-secondary: linear-gradient(to bottom right, rgba(255, 234, 8, 0.316) , rgba(12, 201, 103, 0.459));
  --article-bg-tertiary: linear-gradient(to bottom right, rgba(255, 145, 0, 0.312) , rgba(255, 50, 234, 0.458));
  --article-bg-quartary: linear-gradient(to bottom right, rgba(34, 0, 255, 0.299) , rgba(255, 153, 0, 0.527));
  --article-border-color: #CEC0B6;
  --article-read-more-link-color: var(--orange);
  --outline-color: var(--orange);
  --slider-default-color: var(--text-color);
  --slider-handle-default-color: hsl(35deg 25% 95%);
  --animation-icon-color: var(--text-color-secondary);
  --dark-mode-icon-color: var(--orange);
  --dark-mode-icon-fill: var(--orange);
}

body.dark {
  --orange: rgb(255 120 70 / 90%);
  --bg-color: hsl(220deg 25% 8%);
  --bg-color-secondary: hsl(220 25% 8%);
  --bg-color-tertiary: hsl(222, 25%, 10%);
  --text-color: hsl(35deg 25% 95% / 90%);
  --text-color-secondary: hsl(35deg 10.94% 63.92%);
  --link-color: hsl(35deg 25% 95% / 90%);
  --link-hover-color: var(--orange);
  --article-bg-primary: linear-gradient(to bottom right, rgba(30, 59, 138, 0.194) , rgba(92, 8, 117, 0.224));
  --article-bg-secondary: linear-gradient(to bottom right, rgba(6, 78, 59, 0.261) , rgba(81, 255, 0, 0.153));
  --article-bg-tertiary: linear-gradient(to bottom right, rgba(89, 28, 135, 0.294) , rgba(183, 21, 86, 0.204));
  --article-bg-quartary: linear-gradient(to bottom right, rgba(127, 29, 29, 0.19) , rgba(203, 165, 13, 0.236));
  --article-border-color: hsla(222, 15%, 22%, 0.3);
  --article-read-more-link-color: var(--orange);
  --tag-border-color: hsla(200, 15%, 22%);
  --outline-color: var(--orange);
  --slider-default-color: var(--text-color-secondary);
  --slider-handle-default-color: var(--bg-color-tertiary);
  --animation-icon-color: var(--text-color-secondary);
  --dark-mode-icon-color: var(--text-color-secondary);
}

body.animate-enabled {
  --animation-icon-fill: var(--animation-icon-color);
  --animation-icon-color: var(--orange);
}

body {
  --animation-icon-fill: none;
}