{% extends "base.njk" %}

{% block title %}About — My Poetry Site{% endblock %}

{% block content %}
<h1>About Me</h1>
<p>Thank you for visiting my poetry site! I really appreciate you stopping by.</p>  

<p>I am a trans man who grew up in middle Michigan, and now lives in the
Kalamazoo area. Outside of poetry, I enjoy connecting to nature through 
gardening, hiking and sewing, and connecting to people through table top 
RPGs like Dungeons and Dragons.</p>

<p>Poetry has long been my outlet for my lived experience. I've been
strongly influenced by Andrea Gibson (RIP) and although I am not a 
professional poet, I enjoy sharing my lived experience through my poems.</p>

<p>For those who it may matter: I do not use AI to write my poetry. All
my writing is based on my own life, my own hands, and my own heart.</p>
{% endblock %}
